@page
@model Legends_Razor.Pages.LegendList.IndexModel
@{
    ViewBag.Title = "Legend Listing";
}

<br />
<div class="container row p-0 m-0">
    <div class="col-10">
        <h2 class="text-info">Legend List</h2>
    </div>

    <div class="col-2 form-inline">
        <a asp-page="Create" class="btn btn-info form-control text-white">Add New Legend</a>
    </div>

    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if (Model.Legends.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            <label asp-for="Legends.FirstOrDefault().Name"></label>
                        </th>
                        <th>
                            <label asp-for="Legends.FirstOrDefault().Country"></label>
                        </th>
                        <th>
                            <label asp-for="Legends.FirstOrDefault().SuperPower"></label>
                        </th>
                        <th>

                        </th>
                    </tr>
                    @foreach (var item in Model.Legends)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Country)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.SuperPower)
                            </td>
                            <td>
                                <button asp-page-handler="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger btn-sm">Delete</button>
                                <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm text-white">Edit</a>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>No Legends found in the super hero repository.</p>
            }
        </form>
    </div>

    <div class="col-12" style="text-align: center;">
        <br />
        <span class="h3 text-info">OR</span><br /><br />
    </div>

    <div class="col-12 border p-3">
        <table id="DT_load" class="table table-striped table-bordered" style="width: 100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Country</th>
                    <th>Super Power</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{ 
    <script src="~/js/legendList.js"></script>
}